<h1>Listing charts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>English</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @charts.each do |chart| %>
  <tr>
    <td><%= chart.title %></td>
    <td><%= chart.english %></td>
    <td><%= link_to 'Show', orgchart.show_chart_path(chart) %></td>
    <td><%= link_to 'Build', orgchart.build_chart_path(chart) %></td>
    <td><%= link_to 'Edit', orgchart.edit_chart_path(chart) %></td>
    <td><%= link_to 'Destroy', orgchart.destroy_chart_path(chart), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chart', orgchart.new_chart_path %>
